{% extends "base.html" %}

{% block content %}

{% for show in post_all_data %}

<div class="post">

    {{ show.post_text }}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name='post_comment'>
       
        <button
            type="submit"
            name="post_comment_id"
            value="{{ show.id }}">
            send
        </button>
        
        <button
            type="submit"
            name="post_like_id"
            value="{{ show.id }}">
            Like
        </button>
      

    </form>

</div>

{% endfor %}

{% endblock %}